<nav class="navbar navbar-expand-lg navbar-dark bg-secondary ripple-effect">
  <a class="navbar-brand" href="/">Store</a>
  <button
    class="navbar-toggler ripple-effect"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link ripple-effect" href="/cart">My Favorite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ripple-effect" href="/product">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ripple-effect" href="/store">About Us</a>
      </li>
      <%if (!user) {%>
      <li class="nav-item">
        <a class="nav-link ripple-effect" href="/login.html">Login</a>
      </li>
      <%}%> <%if (user) {%>
      <li class="nav-item">
        <form action="/auth/logout" method="post">
            <button type="submit" class="btn btn-light">Logout</button>
        </form> 
      </li>
      <%}%>
    </ul>
  </div>
</nav>
