<h1>Sign in</h1>
<form action="/auth/login" method="post">
    <section>
        <label for="userId">User ID</label>
        <input id="userId" name="userId" type="text" autocomplete="userId" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button type="submit">Sign in</button>
</form>